ACCELBYTE_BASE_URL=https://seal-chessags.prod.gamingservices.accelbyte.io
ACCELBYTE_NAMESPACE=seal-chessags
ACCELBYTE_CLIENT_ID=4d98466a671d4172aa98f9a3f1fa29d1

VITE_ACCELBYTE_BASE_URL=https://seal-chessags.prod.gamingservices.accelbyte.io
VITE_ACCELBYTE_NAMESPACE=seal-chessags
VITE_ACCELBYTE_CLIENT_ID=4d98466a671d4172aa98f9a3f1fa29d1
VITE_ACCELBYTE_GOOGLE_CLIENT_ID=877210031655-acj2feoljofq9kibrtbljqacn39m3qjt.apps.googleusercontent.com

# Change this to your machine's local IP address (or https://localhost:8808/ if testing locally only)
# Mac: run `ipconfig getifaddr en0` to find your IP
# Windows: run `ipconfig` and look for IPv4 Address
VITE_ACCELBYTE_REDIRECT_URI=https://localhost:8808/
